{{> _header }}
<main class="flex flex-40">
    <article class="question">
        <form action="/question" method="post" class="flex flex-col gap-5">
            <p class="question">{{ question.question }}</p>
            <div class="answers flex flex-col gap-5">
                {{#each question.incorrect_answers}}
                <span class="flex flex-row gap-5 align-center">
                    <input type="radio" name="answer" id="{{this}}" class="choice" value="{{ this }}""> {{ this }}
                </span>
                {{/each}}
            </div>
            <button type=" submit">Lanjut</button>
        </form>
    </article>
</main>

{{> _footer }}

<!--
    <span class="point">{{ currentPoint }} dari {{ totalPoint }}</span>-->